<header>
    <nav>
      <%= link_to "Posts", posts_path %>
      <!--   <%= link_to "Videos", videos_path %> -->
      <%= link_to "About", user_path(1), class: "navline"%>
      <%= link_to "Contact Us", new_message_path, class: "navline big_only" %>
      <%= link_to "Contact", new_message_path, class: "navline small_only" %>
      <%= link_to "Home", root_path, class: "navline"  %>
    </nav>
</header>
<div class="banner_cont" id="banner_cont_XL">
  <%= image_tag "contact.png", class: "banner" %>
</div>
<div class="container" id="contact_cont">
  <%= form_for :message, url: messages_path, method: :post do |f| %>
    <%= f.text_field :author, placeholder: "Name (just leave it blank if you don't want to tell us)", class: "author" %>
    <%= f.text_area :text, placeholder: "Message", class: "message" %>
    <div class="message_clear"><%= f.submit "Submit", class: "message_submit" %></div>
  <% end %>
</div>
<footer>
  <%= link_to "Made by nick-brown-dev.com", "http://nick-brown-dev.com" %>
  <p>Copyright 2016</p>
</footer>