<script>
  $(".container").height($("html").height());
</script>
<header>
  <nav>
    <%= link_to "Rants", posts_path %>
    <!--   <%= link_to "Videos", videos_path %> -->
    <%= link_to "About", user_path(1), class: "navline" %>
    <%= link_to "Home", root_path, class: "navline" %>
  </nav>
</header>
<div class="container">
  <%= image_tag "rant_header.png", class: "banner" %>
  <div class="left_column" id="posts_left_column">
    <p class="clear"><%= link_to "Floodlight", root_path, class: "post_show_link" %> - <span class="post_show_dest">Rants</span></p>
    <h1 id="rant_header">Floodlight - Rants</h1>
    <p id="rant_sub">On everything from how the media is spinning the current news story to that thing that made us angry that one time. Ooooh, that thing.</p>
    <% @recent_rants.each do |rant| %>
      <div class="post">
        <div class="post_top">
          <%= link_to rant.title, post_path(rant.id), class: "post_title" %>
          <p class="post_date"> - <%= rant.date %></p>
        </div>
        <p class="sub_post"><%= rant.blurb %></p>
      </div>
    <% end %>
  </div>
  <div class="right_column" id="posts_right_column">
    <p>Send us a message!<br><br>Because how will we know what we got wrong if you don't tell us?</p>
    <%= link_to "Contact Us", new_message_path, class: "post_show_link" %>
  </div>
</div>
<footer>
  <%= link_to "Made by nick-brown-dev.com", url: "http://nick-brown-dev.com" %>
  <p>Copyright 2016</p>
</footer>