<nav>
  <%= link_to "Posts", posts_path %>
<!--   <%= link_to "Videos", videos_path %> -->
  <%= link_to "About", user_path(1) %>
  <%= link_to "Home", root_path %>
</nav>
<h1><%= @post.title %></h1>
<p><%= @post.text %></p>
